# Tested with Python 3.11.8

numpy==1.26.4
pandas==2.2.2
petl==1.7.15
frictionless==5.17.0
xmarshal @ git+https://github.com/pschumm/xmarshal.git@d980fd376b7ef3fd0c2376e62c784a54814240a8
dataforge @ git+https://gitlab.com/pschumm/data-forge.git@cb5f05416deb99f50d7739ca1f899c3308d0f18e
nda-tools
